/* HTML Selectors */
body {
    font-family: "Ubuntu", Helvetica, sans-serif;
	font-size: 110%;
    background-color: beige;
}


a {
    color: red; 
}

table {
    border: 2px double black; 
}

th, td {
    border: 2px black;
}