====
//FELIX 
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>City List</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
	<h1>City List</h1>

    <p>Below is the list of available cities that you can check out</p> 

    <div>
        <%- displayTable %>
    </div>
    
    <p><a href="/cityInfo">View City</a></p>
    <hr>
    <p><a href="/">Home Page</a></p>
</body>

</html>
>>>>>>> 0df2e527a3e98d0751379ff3c303e543a2475c17
