<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>City List</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body class="background-image">
    <div class="page-box">
	<h1>City List</h1>

    <p>Below is the list of available cities that you can check out</p> 

    <div>
        <%- displayTable %>
    </div>
    
    <p><a href="/cityInfo">View City</a></p>
    <hr>
    <p><a href="/">Home Page</a></p>
    </div>
</body>

</html>
