<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Travel Guide</title>
</head>

<body>
	<h1>Welcome to the Ultimate Travel Guide Tool!</h1>

	<p>This is a tool where you can add cities you may want to visit in the future, noting what you like or dislike about them.\n
	The tool features an option to list all cities tracked, with the feature to view stored information about a specific city\n
	and see current weather data for the specified city.
	</p>
	<h2>Tools</h2>
	<ul>
		<li>To add a city: <a href="/addCity">Click Me!</a></li>
		<li>To view the list of cities: <a href="/reviewApplication">Click Me!</a></li>
		<li>To view a specific city: <a href="/reviewApplication">Click Me!</a></li>
	</ul>
	<hr>

</body>

</html>
