<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View City</title>
</head>
<body>
    <h1>View City</h1>
<<<<<<< HEAD
    
    <form method="post" action="/findCity">
=======

    <form method="post" action="/infoProcess">
>>>>>>> feda1d27dcfe5568839b4dec3de59a2c3a5ad013
        <p>
            <strong>City Name: </strong>
            <input id="cityName" type="text" name="cityName" required>
        </p>
        <p>
            <button type="reset">Reset</button>
        <button type="submit">Submit Request</button>
        </p>
    </form>

    <p>
        <a href="/">Home</a>
    </p>
</body>
</html>